{% extends "index.html" %}
{% load static %}
{% block title %} JavaScript {% endblock title %}

{% block inform %}
<h1> JavaScript для начинающих </h1>

<p> На данный момент язык программирования JavaScript является самым <br>
    популярным. Изучив его, можно достаточно просто войти в сферу веб-разработки. </p>

<p> Язык JavaScript — хороший способ войти в IT-сферу для начинающих разработчиков войти в IT-сферу. <br>
    Он востребован, достаточно прост в изучении и подходит для выполнения всевозможных задач, к примеру, <br>
    таких, как создание сайтов и приложений. </p>
{% endblock inform %}

{% block photo %}
<img src="{% static "images/js.png" %}"/>
{% endblock photo %}