{% extends "index.html" %}
{% load static %}
{% block title %} Математика {% endblock title %}

{% block inform %}
<h1> ПОДГОТОВИМ К ЕГЭ по математике </h1>

<ul> 
    <li> без стресса для ребенка</li>
    <li> Авторская методика изучения предмета </li>
    <li> Сопровождаем до поступления </li>
</ul>

<p>Мы обеспечиваем мотивацию и психологическую поддержку, <br>
    чтобы помочь ученикам достичь высоких результатов <br>
    и поступить в желаемый университет </p>
{% endblock inform %}


{% block photo %}
<img src="{% static "images/math.png" %}"/>
{% endblock photo %}