{% extends "index.html" %}
{% load static %}
{% block title %} Python {% endblock title %}

{% block inform %}
<h1> Python для начинающих </h1>

<p> Разработчик на Python создает web-серверные приложения, разрабатывает<br>
     логику работы серверной части проектов и работает с базами данных.</p>

<p> Python — многофункциональный язык программирования, подходящий для решения как простых, <br>
    так и сложных задач. Начните изучать его, чтобы стать востребованным <br>
    специалистом для многих IT-компаний. </p>
{% endblock inform %}

{% block photo %}
<img src="{% static "images/python.png" %}"/>
{% endblock photo %}