<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
    <div class="logo">
    <img src=" {% static "images/my_logo.jpg" %}" alt="my_logo">
    </div>
    <button><a href="/">Главная</a></button>
    <button><a href="/about_us">О нас</a></button>
    <button><a href="/contacts">Контакты</a></button>
    </header>
    <div class="content">
    <div class="dj_content">
    {% block content %}
    {% endblock content %}
    </div>
    <div class="canvas">
        <div class="tree">
          <div class="trunk">
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
              <div class="leaf"></div>
              <div class="leaf"></div>
            </div>
            <div class="branch">
              <div class="leaf"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>