* {
    text-align: left;
}

.frame {
    display: table;
    width: 1200px;
    height: 1200px;
    background-color: aqua;
}

.header {
    display: flex;
    float: unset;
    background-color: wheat;
    width: 100%;
    height: 100px;
    justify-items: center;
    align-items: end;
}
.header a {
    margin-right: 20px;
    color: brown;
}
.footer {
    display: table-footer-group;
    width: 100%;
    height: 100px;
    background-color: brown;
}

.footer img {
    width: 200px;
    height: 200px;
}

.left_nav { 
    float: left;
    background-color: blueviolet;
    width: 30%;
    height: 900px;
}

.right_board {
    float: right;
    background-color: azure;
    width: 70%;
    height: 900px;
}

table:hover {
    font-size: 40px;
    transition: 0.5s ease-in-out;
}

table tr:hover {
    color: green;
    transition: 0.5s ease-in-out;
}

td:hover {
    background-color: bisque;
    transition: 0.5s ease-in-out;
}

th:hover {
    background-color: brown;
    transition: 0.5s ease-in-out;
}

li {
    margin: 0 20px;
    position: relative;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

li:hover ul {
    display: block;
}
li:hover a {
    color: #fff;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

li:hover ul li a {
  color: #000;
}

a:hover {
  color: #fff;
}