<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Простая HTML-форма</title>
</head>
<body>
    <h1>Простая HTML-форма (GET)</h1>
<form method="get">
    <label for="name">Имя: </label>
    <input type="text" id="name" name="name"> <br> <br>

    <label for="phone">Номер телефона: </label>
    <input type="text" id="phone" name="phone"> <br> <br>

    <input type="submit" value="Отправить">
</form>
</body>
</html>