<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Мой сайт {% endblock %} </title>
</head>
<body>
    <header>
        <h1>Мой сайт</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/aboutus">О нас</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content%}
        {% endblock %}
    </main>

    <footer>
        <p>&copy;  2024 Мой сайт </p>
    </footer>
</body>
</html>