table:hover{
    font-size: 60px;
    transition: all 0.6s ease-in-out;
}
td:hover {
    background-color: chartreuse;
    color: blue;
    transition: all 0.3s ease-in-out;
}
th:hover {
    background-color: black;
    color: red;
    transition: all 0.3s ease-in-out;
}