<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    <header>
                <div class="logo">
                <img src="{% static "images/logo.jpg "%}" height="100" width="100">
                </div>
                <button><a href="http://127.0.0.1:8000/">Главная</a></button>
                <button><a href="http://127.0.0.1:8000/about_us/">О нас</a></li></button>
                <button><a href="http://127.0.0.1:8000/contacts/">Контакты</a></li></button>
    </header>
    
    {% block content %}
    {% endblock %}
</body>
</html>