.container {
  display: flex; /* Задает контейнеру flex-отображение */
  justify-content: center; /* Выравнивает содержимое по горизонтали по центру */
  align-items: center; /* Выравнивает содержимое по вертикали по центру */
  height: 90vh; /* Задает высоту контейнера, равную 90% высоты видимой области */
  background-color: #2b2d42; /* Задает цвет фона контейнера */
}

h1 {
  color: #edf2f4; /* Задает цвет текста заголовка */
  font-size: 5rem; /* Задает размер шрифта заголовка */
  font-weight: bold; /* Задает жирное начертание шрифта заголовка */
  text-transform: uppercase; /* Преобразует текст заголовка к верхнему регистру */
  text-align: center; /* Выравнивает текст заголовка по центру */
  letter-spacing: 5px; /* Задает расстояние между буквами заголовка */
  text-shadow: 0 0 10px rgb(184, 32, 32); /* Создает тень для текста заголовка */
  transition: all 1.5s ease; /* Задает плавный переход при изменении свойств */
}

h1:hover {
  text-shadow: 0 0 20px rgba(209, 32, 32, 0.6), 0 0 50px rgba(255, 255, 255, 0.4), 0 0 80px rgba(210, 217, 12, 0.999), 0 0 150px rgb(255, 0, 0); /* Создает несколько теней с разными параметрами при наведении курсора на текст заголовка */
  transform: translateY(-20px) rotateX(40deg); /* Задает поворот и смещение заголовка при наведении курсора */
}