body {
	margin: 0; /* Убирает отступы по умолчанию */
	padding: 0; /* Убирает поля по умолчанию */
	background: #222327; /* Задает фоновый цвет страницы */
}

h2 {
	text-align: center; /* Устанавливает выравнивание текста по центру */
	font-size: 150px; /* Задает размер шрифта */
	color: white; /* Задает цвет текста */
	font-family: arial, serif; /* Задает шрифт текста */
	font-weight: bold; /* Устанавливает жирное начертание для текста */
	transition: 5s; /* Добавляет плавный переход при изменении свойств */
	text-transform: uppercase; /* Преобразует текст в верхний регистр */
	margin-top: 5%; /* Задает отступ сверху */
	text-rendering: optimizeLegibility; /* Оптимизирует качество отображения текста */
	-webkit-text-stroke: 0.5px #FFD700; /* Добавляет обводку вокруг текста */
	padding-top: 14%; /* Задает отступ сверху внутри элемента */
}

h2:hover {
    /* Создает эффект тени текста при наведении курсора */
    text-shadow: -1px -1px 1px rgb(255, 0, 200), /* Тень смещена на -1px по горизонтали и -1px по вертикали, имеет размытие 1px и цвет золотой */
                0 1px 0 white, /* Тень не смещена по горизонтали, смещена на 1px по вертикали, не имеет размытия и цвет темно-серый */
                0 2px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 2px по вертикали, не имеет размытия и цвет золотой */
                0 3px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 3px по вертикали, не имеет размытия и цвет золотой */
                0 4px 0 white, /* Тень не смещена по горизонтали, смещена на 4px по вертикали, не имеет размытия и цвет темно-серый */
                0 5px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 5px по вертикали, не имеет размытия и цвет золотой */
                0 6px 0 white, /* Тень не смещена по горизонтали, смещена на 6px по вертикали, не имеет размытия и цвет темно-серый */
                0 7px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 7px по вертикали, не имеет размытия и цвет золотой */
                0 8px 0 white, /* Тень не смещена по горизонтали, смещена на 8px по вертикали, не имеет размытия и цвет темно-серый */
                0 9px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 9px по вертикали, не имеет размытия и цвет золотой */
                0 10px 0 white, /* Тень не смещена по горизонтали, смещена на 10px по вертикали, не имеет размытия и цвет темно-серый */
                0 11px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена 11px по вертикали, не имеет размытия и цвет золотой */
                0 12px 0 white, /* Тень не смещена по горизонтали, смещена на 12px по вертикали, не имеет размытия и цвет темно-серый */
                0 13px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 13px по вертикали, не имеет размытия и цвет золотой */
                0 14px 0 white, /* Тень не смещена по горизонтали, смещена на 14px по вертикали, не имеет размытия и цвет темно-серый */
                0 15px 0 rgb(255, 0, 200), /* Тень не смещена по горизонтали, смещена на 15px по вертикали, не имеет размытия и цвет золотой */
                10px 25px 35px white; /* Тень смещена на 10px по горизонтали и 25px по вертикали, имеет размытие 35px и цвет темно-серый */
                cursor: pointer; /* Добавляет указатель при наведении на текст */
}