ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 20px;
    position: relative;
}

h3 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(160, 1, 1, 0.2);
}

li:hover ul {
    display: block;
}

li:hover a {
    color: #fff;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 1s ease-in-out;
}

li:hover ul li a {
  color: #000;
}

a:hover {
  color: #fff;
}