{% extends "base.html" %}

{% block title %} О нашей команде {% endblock %}

{% block content %}
<p> Страница или блок «Наша команда» — это самопрезентация, <br>
    которая влияет на впечатление о компании не меньше, <br>
    чем главная на сайте. Такой раздел необходим, чтобы вызывать <br>
    больше доверия у потенциальных клиентов. <br>
    При этом важны любые детали: от размера и качества <br>
    фотографий до информации, которую вы рассказываете о <br>
    сотрудниках. В умелых руках такая страница будет не просто <br>
    отражением вашего коллектива и корпоративной культуры, а <br>
    способом повышения лояльности к продукту. В сегодняшней статье <br>
    SEO-специалисты LZ.Media расскажут несколько фишек о том, как <br>
    с помощью “командного” блока передать дух компании и <br>
    продемонстрировать сильные стороны сотрудников.</p>
{% endblock %}
