<!DOCTYPE html>
<html>
<head>
    <title>Django на METANIT.COM</title>
    <meta charset="utf-8" />
    <style>
        h2:hover {
            color: green;
        }
        .conteiner_img {
            color: white;
            width: 600;
            height: 1200;
            display: flex;
            justify-items: auto;
            margin: auto;
            background-color: brown;
            flex-wrap: wrap;
        }
        img {
            margin: 50px;
            height: 400px;
            width: 700px;
        }
    </style>
</head>
<body>
    <h2>Hello METANIT.COM</h2>
    <p>А тут ещё какой-то текст</p>
    <p>Так выглядят занятия в группе №15</p>
    <img src="https://sun9-12.userapi.com/impg/RDGVxnGyNM5rgQ1bdtFTZ06S4sbD_AOLyUbt4Q/VpiZss4gdhc.jpg?size=1280x688&quality=96&sign=3bd0adc91167e29a6b47dd7de45d848b&c_uniq_tag=0BNjV1LGnuVZPUyolLlz3sgKfHZxYFU1WANUGWSY2-E&type=album" alt="Коротко о наших занятиях в группе №15">
    <div class="conteiner_img"> Студенты после дедлайна
        <img src="https://www.inovedu.net/assets/images/word_press_lms.png" alt="">
        <img src="https://avatars.mds.yandex.net/i?id=a4df7ec296d0daadb103fa42698a0715_l-5243009-images-thumbs&n=13" alt="">
        <img src="https://sun9-9.userapi.com/impg/Qbe0vVHbbSmOs4ftzR_hS8cgBuFi2Gd5-vHI5A/NnnAyUwpID8.jpg?size=1357x790&quality=95&sign=918b3b965a8b81875738f2d0c13755aa&type=album" alt="">
        <img src="https://a.d-cd.net/-CAAAgCnLOA-960.jpg" alt="">
    </div>
</body>
</html>