#header {
    background-color: #F69E28; /* изменение цвета фона на оранжевый */
    padding: 20px; /* установка внутренних отступов вокруг содержимого */
    text-align: center; /* выравнивание содержимого по центру */
}

#content {
    display: flex; /* установка контейнера флексбоксом */
    flex-wrap: wrap; /* разрешение переноса элементов внутри контейнера */
}

#content section {
    width: 100%; /* задание ширины секции контента на 100% */
    background-color: #f34a4a; /* изменение цвета фона на темно-фиолетовый */
    padding: 20px; /* установка внутренних отступов вокруг содержимого */
}


#footer {
    background-color: #FE6B64; /* изменение цвета фона на красный */
    padding: 20px; /* установка внутренних отступов вокруг содержимого */
    text-align: center; /* выравнивание содержимого по центру */
}

h1 {
    color: blue; /* изменение цвета текста на синий */
    font-size: 24px; /* задание размера шрифта */
}
