{% extends "index.html" %}
{% load static %}

{% block header %}
<h1>C++ для начинающих</h1>
<p>Программисты создают сложные программы и сервисы, разрабатывают сетевые приложения, <br>
    игры, операционные системы. Сфера применения языка C++ очень широкая, поэтому программист <br>
    C++ может решать самые разные задачи и быть востребованным специалистом.</p>
{% endblock header %}

{% block title %}C++{% endblock title %}

{% block  inform %}
<p> <b> C++</b> — не самый простой и легкий в изучении язык программирования, <br>
однако знание C++ открывает программистам множество возможностей — вы научитесь создавать <br>
как простые приложения, так и сложные высоконагруженные сервисы. </p>

<p>Курс ведёт специальный педагог который <br>
прилетел c другой планеты. На этом языке <br>
Была построена целая цивилизация! <br></p>

<p>Для записи на курс перейдите на главную страницу <br>
и отметьте галочкой курс по С++ <br>
Скорее! пока не все места закончились! <br></p>
{% endblock inform %}

{% block photo %}
<img src="{% static "images/cpp.png" %}" />
{% endblock photo %}
