nav {
    background-color: #333;
    overflow: hidden;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    transition: background-color 0.5s ease;
}

nav li a:hover {
    background-color: #666;
}